.color-element(@color, @i, @j) {
  &.p-@{i}-@{j} {
    path {
      fill: @color;
    }

    text {
      fill: darken(@color, 50%);
    }

    &:hover,
    &:focus {
      outline: 0;
      path {
        fill: darken(@color, 25%);
      }
    }

    &:focus {
      path {
        stroke: #000;
        stroke-width: 2;
        stroke-linejoin: round;
      }
    }

    &.active {
      path {
        fill: darken(@color, 75%);
      }
      text {
        fill: lighten(@color, 30%);
      }
    }
  }
}