@import "../mixins.less";

@s: 100%;
@l: 55%;

@n:2;
@x:45;

@s2: 100%;
@l2: 70%;

@s3: 100%;
@l3: 80%;

@l4: 10%;

.colorize-loop (@i) when (@i < 8) {
    @h: @n + (@x * @i);
    .color-element(hsl(@h, @s, @l), 0, @i);
    .color-element(hsl(@h, @s2, @l2), 1, @i);
    .color-element(hsl(@h, @s3, @l3), 2, @i);
    .color-element(lighten(average(hsl(@h, @s3, @l3), hsl(@n + (@x * (@i+1)), @s3, @l3)), @l4), 3, @i);

    .colorize-loop(@i + 1);
}

svg.plutchik {
    width: 100%;
    height: 100%;

    text {
        font-family: Tahoma;
        font-size: 10px;
        text-anchor:  middle;
        fill: #000;
    }

    a {
        .colorize-loop(0);

        &:hover {
            path {
                fill: #999;
            }
            text {
                fill: #fff;
            }
        }

        &.active  {
            path {
                fill: #000;
            }
            text {
                fill: #fff;
            }
        }
    }

}

