@base: #f4f4f4;

.gew-instance {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 100%;

  .line {
    > * {
      cursor: pointer;
    }

    &.even > * {
      fill: #f2f2f2;
    }

    &.odd > * {
      fill: #ccc;
    }
  }


  .line >:not(.active):hover {
      fill: #666;
  }

  .line .active {
      fill: blue;
      cursor: default;
  }

  .line_axis {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
  }

  .line_border {
    .line_axis();
  }

  .text-label {
    p {
      display: inline-block;
      color: #fff;
      margin: 0;
      padding: 10px;
  }

    &.right p {
      text-align: right;
    }

    &.odd p {
      color: red
    }

    &.even p {
      color: blue;
    }
  }
}